* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Zen Tokyo Zoo', cursive;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 50rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.box h1 {
    color: rgb(237, 237, 237);
    font-size: 4.5rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box img {
    height: 24rem;
    width: 28rem;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 10px solid rgb(253, 253, 253);
}

.btn {
    cursor: pointer;
    font-family: 'Tourney', cursive;
    font-size: 2rem;
    width: 21rem;
    padding: .8rem;
    text-align: center;
    color: rgb(237, 237, 237);
    background-color: rgb(218, 0, 55);
    border: none;
    border-radius: 5px;
    transition: all 250ms ease-out;
}

.btn:hover,
.btn:focus {
    transform: translatey(-1px);
    box-shadow: 0 12px 20px -10px #0008;
    opacity: 1;
}

.btn:active {
    transform: translatey(2px);
    box-shadow: 0 2px 2px 0 #000b;
}

@media (max-width:500px) {
    .box img {
        height: 24rem;
        width: 20rem;
    }
    .btn {
        width: 20rem;
    }
}

@media (max-width:330px) {
    .box img {
        height: 20rem;
        width: 17rem;
    }
    .btn {
        width: 16rem;
        font-size: 1.5rem;
    }
}